<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
נא מלאו פרטיכם האישיים        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>פרטים אישיים</p>
    <form  (ngSubmit)="save(myform)" #myform="ngForm" >
  <mat-form-field appearance="fill">
    <mat-label>שם פרטי</mat-label>
    <input matInput [(ngModel)]="userSer.curentUserSer.FirstName" name="fname" required pattern="[a-zA-Z ]*" #Fname="ngModel">
  </mat-form-field>
  <div class="errors" *ngIf="Fname.touched&&Fname.errors&&Fname.errors['required']">זהו שדה חובה</div>
  <div class="errors" *ngIf="Fname.invalid && (Fname.dirty || Fname.touched)">שם יכול להכיל אותיות בלבד</div>
  <mat-form-field appearance="fill">
    <mat-label>שם משפחה</mat-label>
    <input matInput [(ngModel)]="userSer.curentUserSer.LastName" name="lname" required pattern="[a-zA-Z ]*" #Lname="ngModel">
  </mat-form-field>
  <div class="errors" *ngIf="Lname.touched&&Lname.errors&&Lname.errors['required']">זהו שדה חובה</div>
  <div class="errors" *ngIf="Lname.invalid && (Lname.dirty || Lname.touched)">שם יכול להכיל אותיות בלבד</div>
   
    
  <mat-form-field appearance="fill">
    <mat-label>תעודת זהות</mat-label>
    <input matInput [(ngModel)]="userSer.curentUserSer.TZ" name="TZ" required pattern="[0-9]*"  #tz="ngModel">
  </mat-form-field>
  <div class="errors" *ngIf="tz.touched&&tz.errors&&tz.errors['required']">זהו שדה חובה</div>
  <div class="errors" *ngIf="tz.invalid && (tz.dirty || tz.touched)">לא יתכנו תווים שאינם ספרות בתעודת זהות</div>
  <mat-form-field appearance="fill">
    <mat-label>קופת חולים</mat-label>
    <mat-select [(ngModel)]="userSer.curentUserSer.HMO" name="hmo" required>
      <mat-option value="Clalit">כללית</mat-option>
      <mat-option value="Meuhedet">מאוחדת</mat-option>
      <mat-option value="Macabi">מכבי</mat-option>
      <mat-option value="Leumit">לאומית</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
  <mat-form-field appearance="fill">
    <mat-label>מצב אישי</mat-label>
    <mat-select #personalState name="personalState" required>
      <mat-option value='true'>נשוי</mat-option>
      <mat-option value='false'>רווק</mat-option>
    </mat-select>
  </mat-form-field>
  <span *ngIf="personalState.value=='true'">
    <mat-form-field appearance="fill">
      <mat-label>תעודת זהות של בן/ת זוג</mat-label>
      <input matInput [(ngModel)]="userSer.curentUserSer.GetTz" name="GetTZ" required pattern="[0-9]*"  #Gtz="ngModel">
    </mat-form-field>
    <div class="errors" *ngIf="Gtz.touched&&Gtz.errors&&Gtz.errors['required']">זהו שדה חובה</div>
    <div class="errors" *ngIf="Gtz.invalid && (Gtz.dirty || Gtz.touched)">לא יתכנו תווים שאינם ספרות בתעודת זהות</div>
 </span>
</div>
  <mat-form-field appearance="fill">
    <mat-label>מין</mat-label>
    <mat-select [(ngModel)]="userSer.curentUserSer.Gender" name="Gender" required>
      <mat-option value="male">זכר</mat-option>
      <mat-option value="fmale">נקבה</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>תאריך לידה</mat-label>
    <input matInput type="date"  [(ngModel)]="userSer.curentUserSer.BornDate"  name="BornDate"required>
  </mat-form-field>
  <button  class="but" mat-button color="accent" (click)="addChild()" >+ הוסף ילד/ה</button>

 <div *ngIf="state">
   <p>פרטי ילד/ה</p>
  <mat-form-field appearance="fill">
    <mat-label>שם פרטי</mat-label> 
    <input matInput required pattern="[a-zA-Z ]*" [(ngModel)]="empty.FirstName"  name="n">
  </mat-form-field> 
  <mat-form-field appearance="fill">
    <mat-label>תעודת זהות</mat-label>
    <input matInput  required pattern="[0-9 ]*" [(ngModel)]="empty.TZ"  name="t"required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>תאריך לידה</mat-label>
    <input matInput type="date"   [(ngModel)]="empty.BornDate"  name="DateBorn"required>
  </mat-form-field>
  <button  class="but" mat-button color="accent" (click)="sendChild()" >+ שמור ילד/ה</button>
 </div>
      <button  class="but"type="submit" id="add" mat-raised-button [disabled]="!myform.valid" >שמירה</button>
      <input  class="but" type="button"value="להורדת הנתונים"(click)="IsManage()">
      <mat-form-field *ngIf="wanted" appearance="fill">
        <mat-label>סיסמת מנהל</mat-label>
        <input matInput  required pattern="[0-9 ]*" [(ngModel)]="inputPass"  name="t"required>
      </mat-form-field>
      <div *ngIf="wanted">
      <input  type="button"value=" להורדת הנתונים כמנהל"(click)="download()">
    </div>
    </form>

  </mat-expansion-panel>
  <mat-expansion-panel disabled>
  <form  (ngSubmit)="save(myform)" #myform="ngForm" >
    
   
 